@media (max-width: 768px) {
    .triangle {
        display: none
    }
}

.triangle {
    position: relative;
    left: 40px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
}

@media screen and (width < 400px) {
    .mobile-screen-height {
        height: 100vh
    }
}
